body {
  padding: 100px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.header {
  height: 100px;
  border-bottom: 1px solid black;
}

.header code {
  display: block;
  height: 60px;
}

.list {
  margin-top: 50px;
}

app-list-item-directive div,
app-list-item-renderer div,
app-list-item-native div {
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid gray;
}

button + button {
  margin-left: 10px;
}

app-root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.coral {
  background: coral;
}

.darkcyan {
  background: darkcyan;
}
